%base-button{
    display:inline-block;
    padding: rem(15) rem(20);
    appearance: none;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: rem(14);
    min-width: rem(130);
    min-height: rem(43);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    &[data-default-label]{
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: attr(data-default-label);
            display: block;
        }
        &:disabled{
            &:before{
                content: attr(data-disabled-label);
            }
        }
    }
    &.button--large{
        min-width: rem(265);
        height: rem(50);
    }
    &.button--wide{
        width:100%;
    }
    &.stroked{
        border-color: currentColor;
    }
    &:disabled{
        opacity:0.6;
        cursor:default;
        background-color: getColor('gray');
        color: getColor('secondary');
    }
}
button{
    appearance: none;
    border:none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.button{
    &--primary{
        @extend %base-button;
        text-transform: uppercase;
        background: getColor('primary');
        color: getColor('text-light');
        font-weight: lighter;
        &:hover{
            color: getColor('text-light');
            &:not([disabled]){
                background: lighten($color:getColor('primary'), $amount: 15);
            }
        }
    }
    &--secondary{
        @extend %base-button;
        text-transform: uppercase;
        background: getColor('secondary');
        color: getColor('text-dark');
        &:hover{
            color: getColor('text-light');
            &:not([disabled]){
                background: lighten($color:getColor('primary'), $amount: 15);
            }
        }
    }
    &--text{
        @extend %base-button;
        background: transparent;
        color: getColor('text-dark');
        text-decoration: underline;
    }
}

.svg-hamburger{
    .line-top,
    .line-center,
    .line-bottom{
        transform-origin: center;
        transition: transform .7s ease-in-out;
    }
    .line-top{
        transform: translateY(-25%);
    }
    .line-bottom{
        transform: translateY(25%)
    }
    &.open-status{
        .line-top{
            transform: rotate(45deg);
        }
        .line-center{
            transform: scale(0);
        }
        .line-bottom{
            transform: rotate(-45deg);
        }
    }
}

/*
SWATCH COLOR (circle)
<div class="swatch-color">
    <div class="swatch-color__box">
        <img src="" alt="swatch-img" title="dark-cosmo">
    </div>
</div>
*/
.swatch-color{
    --swatch-size: #{rem(33)};
    --swatch-color-size: #{rem(27)};
    width: var(--swatch-size);
    height: var(--swatch-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    &__box{
        width: var(--swatch-color-size);
        height: var(--swatch-color-size);
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid getColor('smoke');
    }
    &.selected{
        border-color: getColor('gray');
    }
}
/*
SIZE OPTION
It's a size input selector GENERALLY AT PDPages
<label class="size-option">
    <input type="radio" data-size-option="38" name="id" value="option-value">
    <span class="size-option__box">
        <span class="size-option__box__label">
            38
        </span>
    </span>
</label>
*/
.size-option{
    --size-option: #{rem(40)};
    --border-box-color: transparent;
    --size-text-decoration: none;
    font-size: rem(14);
    cursor: pointer;
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked{
            & ~ *{
                //--border-box-color: #{getColor('text-dark')};
                --size-text-decoration: underline;
                font-weight: $font-bold;
            }
        }
    }
    &__box{
        width: var(--size-option);
        height: var(--size-option);
        border: 1px solid var(--border-box-color);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &__label{
            text-decoration: var(--size-text-decoration);
        }
    }
}
