.c-header-component {
    @include mainContainer();
    font-family: $base-font-family;
    z-index: $z-i-header;
    .header-component {
        &__wrapper {
            padding: 3rem 0;
            background-color: transparent;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            img {
                width: 100%;
            }
        }
        &__actions {
            width: min(200px,30%);
            display: flex;
            justify-content: space-between;
            padding-right: 2.5rem;
            &__language,
            &__menu {
                display: flex;
                align-items: center;
                a {
                    padding: 7px 10px;
                }
            }
            &__language {
                font-size: 1.4rem;
                text-transform: uppercase;
                :first-child {
                    font-weight: 800;
                    border-right: 1px solid black;;
                }
            }
            &__menu {
                font-size: 1.4rem;
                &__label {
                    margin-right: 1rem;
                }
            }  
        }
    }
}
