// $base-font-family: var(--base-font-family);
$base-font-family: 'Nunito Sans', sans-serif;
// $display-font-family: var(--display-font-family);
$display-font-family: 'Poppins', sans-serif;

//Font weights
$font-regular: unquote('normal');
$font-medium: unquote('500');
$font-bold: unquote('bold');

%typo-h1{
    font-family: $display-font-family;
    font-size: rem(30);
    font-weight: $font-regular;
    line-height: 1.3;
    margin: 0;
    @include responsiveFrom('lg'){
        font-size: rem(50);
    }
}
%typo-h2{
    font-family: $display-font-family;
    font-size: rem(24);
    font-weight: $font-regular;
    line-height: 1.3;
    margin: 0;
    @include responsiveFrom('lg'){
        font-size: rem(40);
    }
}
%typo-h3{
    font-family: $base-font-family;
    font-size: rem(22);
    font-weight: $font-regular;
    line-height: 1.3;
    margin: 0;
    @include responsiveFrom('lg'){
        font-size: rem(32);
    }
}
%typo-paragraph{
    font-family: $base-font-family;
    font-size: rem(14);
    line-height: 1.5;
    letter-spacing: 0;
    @include responsiveFrom('lg'){
        font-size: rem(16);
        line-height: 1.3;
    }
}

%typo-note{
    font-family: $base-font-family;
    font-size: rem(14);
    line-height: 1.2;
    letter-spacing: 0;
    @include responsiveFrom('lg'){
        font-size: rem(16);
    }
}

%typo-menu{
    font-family: $base-font-family;
    font-size: rem(14);
    font-weight: $font-medium;
    line-height: 1.2;
    @include responsiveFrom('xxl'){
        font-size: rem(15);
    }
}
%typo-menu-item{
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $font-medium;
    line-height: 1.19;
}

%typo-footer-menu-head{
    font-family: $base-font-family;
    font-size: rem(17);
    font-weight: $font-bold;
    line-height: 1.17;
}
